{% block body %}
<center>
<br><br>
<h2>Corona Cases In Indian Subcontinent</h2><br>

  {% for item in world_data %}
  {{item.country}},
  {% endfor %}



<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-sunburst.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-data-adapter.min.js"></script>
 
<div id="container"></div>
<script>
anychart.onDocumentReady(function () {
{# https://gist.githubusercontent.com/shacheeswadia/3955e21fff7eddcc3862ec4797109cda/raw/209c22d8c607cf76b16ec18c7fd95c02e5fdbbe3/sunburstData.json #}
  {# https://raw.githubusercontent.com/deve-stack/covid_19_project/master/views/api.json #}
anychart.data.loadJsonFile('https://raw.githubusercontent.com/deve-stack/covid_19_project/master/views/api.json',
  function (data) {
    // create a data tree from the dataset
    var dataTree = anychart.data.tree(data);
    
    // create a sunburst chart
    var chart = anychart.sunburst(dataTree);

    // set the calculation mode
    chart.calculationMode('parent-independent');

    // set the ascending sort order
    chart.sort('asc');

 
   
  
    // set the chart container element id
    chart.container('container');

    // initiate chart drawing
    chart.draw();
  
  });
});

</script>    

<style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


</style>


<table class="styled-table">
    <thead>
       <tr>
          <th>s.no</th>
          <th>Country</th>
          <th>Total Cases</th>
          <th>Recovered</th>
          <th>Active</th>
          <th>Deaths</th>
         
        </tr>
    </thead>
    <tbody>
       {% set ind = 0 %}
      {% for item in world_data %}
      {% if ind > 0 %}
        <tr>
          <td>{{ ind }}</td>
          <td><a href='/country/{{ item.country }}'>{{ item.country }}</a></td>
          <td>{{ item.cases }}</td>
           <td>{{ item.recovered }}</td>
           <td>{{ item.active }}</td>
             <td>{{ item.deaths }}</td>
         
        </tr>
      {% endif %}
      {% set ind=ind+1 %}
      {% endfor %}
        
    </tbody>
</table>



    <script>
      $(document).ready(function() {
        $('#country-table').DataTable();
      });
    </script>

  </div>
</center>
{% endblock %}
